// Custom variables

$primary: rgb(225, 31, 203);
$secondary: #c40606;
$success: rgb(12, 12, 220);
$light: rgb(255, 255, 255);


// navbar color



// import bootstrap

@import '../node_modules/bootstrap/scss/bootstrap';